.settings
target
.classpath
.project
*~
*.tmproj
*.iml
.idea
.scala_dependencies
integration/bundle/
integration/felix-cache/
runner
.DS_Store
test-output
target-j17/
target-j8/
.gradle/
build/
build-j17/
build-j8/
bin/
gradle/
